# .env

# OpenAi 的api key, 去 https://beta.openai.com/account/api-keys 中生成一个即可
OPENAI_API_KEY=''

# Kimi 的api key, 去 https://platform.moonshot.cn/console/api-keys
KIMI_API_KEY=''

# 科大讯飞, 去 https://console.xfyun.cn/services
XUNFEI_APP_ID=''
XUNFEI_API_KEY=''
XUNFEI_API_SECRET=''

# PocketBase配置
POCKETBASE_URL='http://127.0.0.1:8090'  # PocketBase服务器地址
POCKETBASE_ADMIN_EMAIL='your-admin@email.com'  # PocketBase管理员邮箱
POCKETBASE_ADMIN_PASSWORD='your-admin-password'  # PocketBase管理员密码
